In [2]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [3]:
def load_df(csv_path, nrows=None):
    JSON_COLUMNS = ['device', 'geoNetwork', 'totals', 'trafficSource']
    
    df = pd.read_csv(csv_path, 
                     converters={column: json.loads for column in JSON_COLUMNS}, 
                     dtype={'fullVisitorId': 'str'}, # Important!!
                     nrows=nrows)
    
    for column in JSON_COLUMNS:
        column_as_df = json_normalize(df[column])
        column_as_df.columns = [f"{column}.{subcolumn}" for subcolumn in column_as_df.columns]
        df = df.drop(column, axis=1).merge(column_as_df, right_index=True, left_index=True)

    return df

In [4]:
train = load_df("data/train.csv")
train.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device.browser,device.browserSize,...,trafficSource.adwordsClickInfo.isVideoAd,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.campaign,trafficSource.campaignCode,trafficSource.isTrueDirect,trafficSource.keyword,trafficSource.medium,trafficSource.referralPath,trafficSource.source
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,Firefox,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,(not provided),organic,NaN,google
3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,UC Browser,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,NaN,google + online,organic,NaN,google
4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,Chrome,not available in demo dataset,...,NaN,NaN,NaN,(not set),NaN,True,(not provided),organic,NaN,google

In [5]:
# agg_df['fullVisitorId'].plot(kind='bar')

In [6]:
# dropping single-valued columns
# note that nunique() will assign value of '1' to columns
# which have 1 value + NaNs, so nunique will yield 
# false positives

# dropping socialEngagementType
# dropping device.browserSize
# dropping device.browserVersion
# dropping device.flashVersion
# dropping device.language
# dropping device.mobileDeviceBranding
# dropping device.mobileDeviceInfo
# dropping device.mobileDeviceMarketingName
# dropping device.mobileDeviceModel
# dropping device.mobileInputSelector
# dropping device.operatingSystemVersion
# dropping device.screenColors
# dropping device.screenResolution
# dropping geoNetwork.cityId
# dropping geoNetwork.latitude
# dropping geoNetwork.longitude
# dropping geoNetwork.networkLocation
# dropping totals.visits
# dropping trafficSource.adwordsClickInfo.criteriaParameters

for col in train.columns:
    if len(train[col].unique()) < 2:
        train.drop(col, axis=1, inplace=True)
        print("dropping " + col)

dropping socialEngagementType
dropping device.browserSize
dropping device.browserVersion
dropping device.flashVersion
dropping device.language
dropping device.mobileDeviceBranding
dropping device.mobileDeviceInfo
dropping device.mobileDeviceMarketingName
dropping device.mobileDeviceModel
dropping device.mobileInputSelector
dropping device.operatingSystemVersion
dropping device.screenColors
dropping device.screenResolution
dropping geoNetwork.cityId
dropping geoNetwork.latitude
dropping geoNetwork.longitude
dropping geoNetwork.networkLocation
dropping totals.visits
dropping trafficSource.adwordsClickInfo.criteriaParameters

In [7]:
#train.dtypes

channelGrouping                                 object
date                                             int64
fullVisitorId                                   object
sessionId                                       object
visitId                                          int64
visitNumber                                      int64
visitStartTime                                   int64
device.browser                                  object
device.deviceCategory                           object
device.isMobile                                   bool
device.operatingSystem                          object
geoNetwork.city                                 object
geoNetwork.continent                            object
geoNetwork.country                              object
geoNetwork.metro                                object
geoNetwork.networkDomain                        object
geoNetwork.region                               object
geoNetwork.subContinent                         object
totals.bounces                                  object
totals.hits                                     object
totals.newVisits                                object
totals.pageviews                                object
totals.transactionRevenue                       object
trafficSource.adContent                         object
trafficSource.adwordsClickInfo.adNetworkType    object
trafficSource.adwordsClickInfo.gclId            object
trafficSource.adwordsClickInfo.isVideoAd        object
trafficSource.adwordsClickInfo.page             object
trafficSource.adwordsClickInfo.slot             object
trafficSource.campaign                          object
trafficSource.campaignCode                      object
trafficSource.isTrueDirect                      object
trafficSource.keyword                           object
trafficSource.medium                            object
trafficSource.referralPath                      object
trafficSource.source                            object
dtype: object

In [8]:
tmp = train['trafficSource.keyword'].apply(type).value_counts(dropna=False)
tmp

<class 'float'>    502929
<class 'str'>      400724
Name: trafficSource.keyword, dtype: int64

In [11]:

def col_type_counts(df):
    col_types = {}
    for col in df.columns:
        col_types[col] = df[col].apply(type).value_counts()
    return col_types

cols = col_type_counts(train)
for key in cols.keys():
    print("{} {}\n".format(key, cols[key]))

channelGrouping <class 'str'>    903653
Name: channelGrouping, dtype: int64

date <class 'int'>    903653
Name: date, dtype: int64

fullVisitorId <class 'str'>    903653
Name: fullVisitorId, dtype: int64

sessionId <class 'str'>    903653
Name: sessionId, dtype: int64

visitId <class 'int'>    903653
Name: visitId, dtype: int64

visitNumber <class 'int'>    903653
Name: visitNumber, dtype: int64

visitStartTime <class 'int'>    903653
Name: visitStartTime, dtype: int64

device.browser <class 'str'>    903653
Name: device.browser, dtype: int64

device.deviceCategory <class 'str'>    903653
Name: device.deviceCategory, dtype: int64

device.isMobile <class 'bool'>    903653
Name: device.isMobile, dtype: int64

device.operatingSystem <class 'str'>    903653
Name: device.operatingSystem, dtype: int64

geoNetwork.city <class 'str'>    903653
Name: geoNetwork.city, dtype: int64

geoNetwork.continent <class 'str'>    903653
Name: geoNetwork.continent, dtype: int64

geoNetwork.country <class 'str'>    903653
Name: geoNetwork.country, dtype: int64

geoNetwork.metro <class 'str'>    903653
Name: geoNetwork.metro, dtype: int64

geoNetwork.networkDomain <class 'str'>    903653
Name: geoNetwork.networkDomain, dtype: int64

geoNetwork.region <class 'str'>    903653
Name: geoNetwork.region, dtype: int64

geoNetwork.subContinent <class 'str'>    903653
Name: geoNetwork.subContinent, dtype: int64

totals.bounces <class 'float'>    453023
<class 'str'>      450630
Name: totals.bounces, dtype: int64

totals.hits <class 'str'>    903653
Name: totals.hits, dtype: int64

totals.newVisits <class 'str'>      703060
<class 'float'>    200593
Name: totals.newVisits, dtype: int64

totals.pageviews <class 'str'>      903553
<class 'float'>       100
Name: totals.pageviews, dtype: int64

totals.transactionRevenue <class 'float'>    892138
<class 'str'>       11515
Name: totals.transactionRevenue, dtype: int64

trafficSource.adContent <class 'float'>    892707
<class 'str'>       10946
Name: trafficSource.adContent, dtype: int64

trafficSource.adwordsClickInfo.adNetworkType <class 'float'>    882193
<class 'str'>       21460
Name: trafficSource.adwordsClickInfo.adNetworkType, dtype: int64

trafficSource.adwordsClickInfo.gclId <class 'float'>    882092
<class 'str'>       21561
Name: trafficSource.adwordsClickInfo.gclId, dtype: int64

trafficSource.adwordsClickInfo.isVideoAd <class 'float'>    882193
<class 'bool'>      21460
Name: trafficSource.adwordsClickInfo.isVideoAd, dtype: int64

trafficSource.adwordsClickInfo.page <class 'float'>    882193
<class 'str'>       21460
Name: trafficSource.adwordsClickInfo.page, dtype: int64

trafficSource.adwordsClickInfo.slot <class 'float'>    882193
<class 'str'>       21460
Name: trafficSource.adwordsClickInfo.slot, dtype: int64

trafficSource.campaign <class 'str'>    903653
Name: trafficSource.campaign, dtype: int64

trafficSource.campaignCode <class 'float'>    903652
<class 'str'>           1
Name: trafficSource.campaignCode, dtype: int64

trafficSource.isTrueDirect <class 'float'>    629648
<class 'bool'>     274005
Name: trafficSource.isTrueDirect, dtype: int64

trafficSource.keyword <class 'float'>    502929
<class 'str'>      400724
Name: trafficSource.keyword, dtype: int64

trafficSource.medium <class 'str'>    903653
Name: trafficSource.medium, dtype: int64

trafficSource.referralPath <class 'float'>    572712
<class 'str'>      330941
Name: trafficSource.referralPath, dtype: int64

trafficSource.source <class 'str'>    903653
Name: trafficSource.source, dtype: int64

In [23]:
xaction_rev_df = train['totals.transactionRevenue'].to_frame()#
xaction_rev_df.select_dtypes(exclude=['float'])

       totals.transactionRevenue
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
5                            NaN
6                            NaN
7                            NaN
8                            NaN
9                            NaN
10                           NaN
11                           NaN
12                           NaN
13                           NaN
14                           NaN
15                           NaN
16                           NaN
17                           NaN
18                           NaN
19                           NaN
20                           NaN
21                           NaN
22                           NaN
23                           NaN
24                           NaN
25                           NaN
26                           NaN
27                           NaN
28                           NaN
29                           NaN
...                          ...
903623                       NaN
903624                       NaN
903625                       NaN
903626                       NaN
903627                       NaN
903628                       NaN
903629                       NaN
903630                       NaN
903631                       NaN
903632                       NaN
903633                       NaN
903634                       NaN
903635                       NaN
903636                       NaN
903637                       NaN
903638                       NaN
903639                       NaN
903640                       NaN
903641                       NaN
903642                       NaN
903643                       NaN
903644                       NaN
903645                       NaN
903646                       NaN
903647                       NaN
903648                       NaN
903649                       NaN
903650                       NaN
903651                       NaN
903652                       NaN

[903653 rows x 1 columns]

In [49]:
# train_df["totals.transactionRevenue"] = train_df["totals.transactionRevenue"].astype('float')
# gdf = train_df.groupby("fullVisitorId")["totals.transactionRevenue"].sum().reset_index()

# plt.figure(figsize=(8,6))
# plt.scatter(range(gdf.shape[0]), np.sort(np.log1p(gdf["totals.transactionRevenue"].values)))
# plt.xlabel('index', fontsize=12)
# plt.ylabel('TransactionRevenue', fontsize=12)
# plt.show()

In [27]:
# The main types stored in pandas objects are float, int, bool, 
# datetime64[ns] and datetime64[ns, tz], timedelta[ns], category and object.

channelGrouping -> string
date -> date
bounces -> manual, nan, 1
totals.hits -> int64
totals.newVisits -> manual array(['1', nan], dtype=object)
totals.pageviews -> int64
totals.transactionRevenue -> nan + ints -> int64

,channelGrouping,date,fullVisitorId,sessionId,visitId,visitNumber,visitStartTime,device.browser,device.deviceCategory,device.isMobile,...,trafficSource.adContent,trafficSource.adwordsClickInfo.adNetworkType,trafficSource.adwordsClickInfo.gclId,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.campaign,trafficSource.keyword,trafficSource.medium,trafficSource.referralPath,trafficSource.source
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,1472830385,1,1472830385,Chrome,desktop,False,...,NaN,NaN,NaN,NaN,NaN,(not set),(not provided),organic,NaN,google

In [30]:
train.columns

Index(['channelGrouping', 'date', 'fullVisitorId', 'sessionId', 'visitId',
       'visitNumber', 'visitStartTime', 'device.browser',
       'device.deviceCategory', 'device.isMobile', 'device.operatingSystem',
       'geoNetwork.city', 'geoNetwork.continent', 'geoNetwork.country',
       'geoNetwork.metro', 'geoNetwork.networkDomain', 'geoNetwork.region',
       'geoNetwork.subContinent', 'totals.hits', 'totals.pageviews',
       'totals.transactionRevenue', 'trafficSource.adContent',
       'trafficSource.adwordsClickInfo.adNetworkType',
       'trafficSource.adwordsClickInfo.gclId',
       'trafficSource.adwordsClickInfo.page',
       'trafficSource.adwordsClickInfo.slot', 'trafficSource.campaign',
       'trafficSource.keyword', 'trafficSource.medium',
       'trafficSource.referralPath', 'trafficSource.source'],
      dtype='object')